/* Css Layout */
*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Home Page css */
.header::before
{
  content: "";
  position:absolute;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('./Homephoto.png');
  height: 616px;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.mainlogo
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px 10px;
}
.navbar
{
  display: flex;
}
.navitem{
  display: flex;
  justify-content: space-between;
}
.navitem ul 
{
  display: flex;
}
.navitem ul li
{
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
  color: #fff;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}
.navitem ul li a
{
  font-weight: 480;
  color: aliceblue;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: purple;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar ul li:hover:after{
  width: 100%;
}
.heading
{
  margin-right: auto;
  font-size: 30px;
  color:white;
}
.text-box
{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.text-box h1
{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.mainbtn
{
  width:200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.mainbtn a
{
   text-decoration: none;
   color: white;
   background: #009688;
   height: 100%;
   width: 0%;
   border-radius: 25px;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: 0.5s;
   z-index: -1;
   border: none;
}
.mainbtn:hover a
{
  width: 100%;
  text-decoration: none;
  color: white;
}
.mainbtn:hover
{
  border: none;
}
.mainbtn:focus
{
  outline: none;
}
/* ViewUseer Page */
.main-container
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color:#1bbc9d;
}
.content-container
{
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px; 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
    margin-left: 4%;
    margin-top: 2%;
    height: 450px;
}
.customerinfo
{
  padding: 10px;
}
.cardimage
{
 height: 100px;
 display: flex;
 align-items: center;
 margin-left: 33%
}
.text
{
  text-align: center;
  margin-top: 10px;
}
.header1
{
  background-color: #1bbc9d;
}
.logo
{
  margin-right: 10px;
}
.content-container1
{
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px; 
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: white;
  height: 450px;
}
.main-container1
{
   display: flex;
   justify-content: center;
   align-self:center;
   margin-top: 2%;
}
.headlogo
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.transferbody
{
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
/* tabele css */
  details
  {
    display: none;
  }
  @media screen and (max-width: 800px) 
  {
    .text-box h1
    {
      font-size: 25px;
      margin-top: 80%;
    }
    .mainlogo{
      display: none;
    }
    .heading
    {
     display: none;
    }
    .text{
      font-size: 10px;
    }
    .customerinfo h5
    {
      font-size: 10px;
    }
    .content-container
    {
      width: 250px;
      height: 300px;
    }
    /* .btn
    {
      width: 100px;
      height: 50px;
      margin-bottom: 1000px;
    } */
    .main-container
    {
      margin-left: 10%;
    }
    .addbtn
    {
      background-color: springgreen;
    }
    /* .navitem ul 
    {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
    .navitem ul li 
    {
      padding: 20px;
    } */
    .navitem
    {
      display: none;
    }
    details
    {
      display: block;
    }
  }
  @media screen and (min-width:950px ) and (max-width:1200x) {
    .main-container{
      margin-left: 10%;
    }
  }
  /* :root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
  } */
  body {
    background-color: var(--primColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  details {
    margin: 40px;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    content: "← Click This Button";
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 240px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  .responsive-width {
    font-size: 3vw;
}
/* Card style */
  